--select * from tblMaterialPeligroso
/****** Object:  Table [dbo].[tblMaterialPeligroso]    Script Date: 16/12/2021 04:43:36 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblMaterialPeligroso]') AND type in (N'U'))
DROP TABLE [dbo].[tblMaterialPeligroso]
GO
/****** Object:  Table [dbo].[tblMaterialPeligroso]    Script Date: 16/12/2021 04:43:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMaterialPeligroso](
	[clave] [varchar](100) NULL,
	[descripcion] [varchar](100) NULL,
	[claseOdiv] [varchar](100) NULL,
	[peligroSecundario] [varchar](100) NULL,
	[nombreTecnico] [varchar](100) NULL,
	[fechaInicioVigencia] [varchar](100) NULL,
	[fechaFinVigencia] [varchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblMaterialPeligroso] ([clave], [descripcion], [claseOdiv], [peligroSecundario], [nombreTecnico], [fechaInicioVigencia], [fechaFinVigencia]) VALUES (N'0004', N'PICRATO DE AMONIO seco o humedecido con menos de 10%, en masa, de agua?', N'1.1D', N'', N'', N'01/12/2021', N'')
INSERT [dbo].[tblMaterialPeligroso] ([clave], [descripcion], [claseOdiv], [peligroSecundario], [nombreTecnico], [fechaInicioVigencia], [fechaFinVigencia]) VALUES (N'0005', N'CARTUCHOS PARA ARMAS, con carga explosiva?', N'1.1F', N'', N'', N'01/12/2021', N'')
INSERT [dbo].[tblMaterialPeligroso] ([clave], [descripcion], [claseOdiv], [peligroSecundario], [nombreTecnico], [fechaInicioVigencia], [fechaFinVigencia]) VALUES (N'0006', N'CARTUCHOS PARA ARMAS, con carga explosiva?', N'1.1E', N'', N'', N'01/12/2021', N'')
GO
