--USE [cfdi_fleteseconomicos]
--GO
/****** Object:  Table [dbo].[tblMunicipio]    Script Date: 01/11/2021 09:55:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMunicipio](
	[municipio] [varchar](10) NULL,
	[estado] [varchar](10) NULL,
	[descripcion] [varchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblMunicipio] ([municipio], [estado], [descripcion]) VALUES (N'001', N'AGU', N'Aguascalientes')
INSERT [dbo].[tblMunicipio] ([municipio], [estado], [descripcion]) VALUES (N'001', N'BCN', N'Ensenada')
INSERT [dbo].[tblMunicipio] ([municipio], [estado], [descripcion]) VALUES (N'001', N'BCS', N'Comondú')
GO
