--USE [cfdi_fleteseconomicos]
--GO
/****** Object:  Table [dbo].[tblLocalidad]    Script Date: 01/11/2021 09:55:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocalidad](
	[localidad] [varchar](10) NULL,
	[estado] [varchar](100) NULL,
	[descripcion] [varchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblLocalidad] ([localidad], [estado], [descripcion]) VALUES (N'01', N'AGU', N'Aguascalientes')
INSERT [dbo].[tblLocalidad] ([localidad], [estado], [descripcion]) VALUES (N'01', N'BCN', N'Ensenada')
INSERT [dbo].[tblLocalidad] ([localidad], [estado], [descripcion]) VALUES (N'01', N'BCS', N'Ciudad Constitución')
GO
