
/****** Object:  Table [dbo].[tblClaveUnidad]    Script Date: 16/12/2021 04:43:36 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblClaveUnidad]') AND type in (N'U'))
DROP TABLE [dbo].[tblClaveUnidad]
GO
/****** Object:  Table [dbo].[tblClaveUnidad]    Script Date: 16/12/2021 04:43:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClaveUnidad](
	[codigo] [varchar](10) NOT NULL,
	[nombre] [varchar](500) NULL,
	[descripcion] [varchar](4000) NULL,
	[nota] [varchar](4000) NULL,
	[fechainiciovigencia] [datetime] NULL,
	[fechafinvigencia] [datetime] NULL,
	[simbolo] [varchar](200) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblClaveUnidad] ([codigo], [nombre], [descripcion], [nota], [fechainiciovigencia], [fechafinvigencia], [simbolo]) VALUES (N'XPF', N'Corral', NULL, NULL, CAST(N'2017-07-26T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[tblClaveUnidad] ([codigo], [nombre], [descripcion], [nota], [fechainiciovigencia], [fechafinvigencia], [simbolo]) VALUES (N'XPG', N'Placa', NULL, NULL, CAST(N'2017-07-26T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[tblClaveUnidad] ([codigo], [nombre], [descripcion], [nota], [fechainiciovigencia], [fechafinvigencia], [simbolo]) VALUES (N'XPH', N'Cantaro', NULL, NULL, CAST(N'2017-07-26T00:00:00.000' AS DateTime), NULL, NULL)
GO
